.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    > .login-panel {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1.5rem;
    
        padding: 3rem;
        width: 500px;
        
        border-radius: 0.5rem;
        background: #1f1f1f;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
        > h1 {
            margin: 0;
            text-align: center;
            font-family: goudyOldStyle;
            font-weight: bold;
        }
        > .input-item {
            position: relative;
            margin: 0 auto;
            width: 100%;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            > p {
                margin: 0;
            }
            > .subtitle {
                color: rgba(255, 255, 255, 0.9);
            }
            > input {
                width: 100%;
                padding: 0.5rem;

                font-size: 0.875rem;
                line-height: 1.5rem;

                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid grey;
                color: white;
            }
            > button {
                width: 100%;
                height: 2.5rem;
                
                border: none;
                border-radius: 0.5rem;
                background-color: #aa2e25;
                color: white;
            }
        }
    }
}