@import "../../../global.scss";
.charactersheet-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  >.charactersheet-panel {
    position: relative;
    border-radius: 0.5rem;
    background: #1f1f1f;
    box-shadow: 5px 5px 10px #0003;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem auto 2rem auto;
    width: 1024px;
    min-width: 1024px;
    animation: fadeIn ease-in 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    >.charactersheet-panel-split {
      display: flex;
      gap: 1rem;
      >.charactersheet-panel-split-column {
        flex: 2;
        &:first-child {
          flex: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .charactersheet-container {
    >.charactersheet-panel {
      border-radius: 0;
      margin: 0 auto;
    }
  }
}