.charactersheet-container {
  >.charactersheet-panel {
    >.charactersheet-header {
      >.charactersheet-header-brand {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7rem;
        > img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          opacity: 0.4;
          user-select: none;
          pointer-events: none;
        }
        &.ministry {
          > img {
            max-height: 6rem;
          }
        }
        &.salubri {
          > img {
            padding-bottom: 1rem;
          }
        }
        &.tremere {
          > img {
            max-height: 6rem;
          }
        }
        >.charactersheet-header-brand-container {
          position: relative;
          max-width: 50%;
          height: 4rem;
          z-index: 1;
          >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            user-select: none;
            pointer-events: none;
          }
          &.brujah {
            height: 5rem;
          }
          &.toreador {
            height: 6rem;
          }
          &.tzimisce {
            margin-top: 0.5rem;
            height: 3.5rem;
          }
        }
      }
    }
  }
}