@import "../../../global.scss";
.charactersheet-container {
  >.charactersheet-panel {
    >.charactersheet-header {
      position: relative;
      width: 100%;

      >.charactersheet-header-brand {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        >.charactersheet-header-brand-container {
          max-width: 50%;
          height: 4rem;

          >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      >.charactersheet-header-inner {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 1rem;

        >.charactersheet-header-column {
          // 33% - 2x gap
          width: calc(33.3% - 1rem);

          >.charactersheet-header-row {
            display: flex;

            >.charactersheet-header-row-field {
              position: relative;
              flex: 1;
              height: 1.2em;
              >input {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: 0;
                outline: none;
                border-bottom: 1px dotted $text-primary;
                background-color: transparent;

                color: $text-primary;
                padding: 0 0.25rem 0 0.25rem;
                font-size: 0.75rem;
              }
              >select {
                // A reset of styles, including removing the default dropdown arrow
                appearance: none;
                background-color: transparent;
                border: none;
                outline: none;
                padding: 0 1em 0 0.25em;
                margin: 0;
                width: 100%;
                height: 100%;
                font-family: inherit;
                font-size: 0.75rem;
                cursor: inherit;
                line-height: inherit;

                // custom style
                color: inherit;
                position: relative;
                cursor: pointer;
                border-bottom: 1px dotted $text-primary;

                >option {
                  color: inherit;
                  font-size: inherit;
                  background-color: #1f1f1f;
                }
              }
              >span.select-dropdown {
                position: absolute;
                top: calc(50% - 0.25rem/2);
                right: calc(0.5em - 0.2rem);
                width: 0.4rem;
                height: 0.25rem;
                background-color: gray;
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}