@use "../../../global.scss" as *;

.charactersheet-section {
  >.charactersheet-meritflaw-inner {
    >.meritflaw-group {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      >span {
        margin: 0 auto;
      }
      >.meritflaw-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        >.meritflaw-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.125rem;
          >input {
            flex: 1;
            height: 100%;
            border: none;
            border-radius: 0;
            outline: none;
            border-bottom: 1px dotted $text-primary;
            background-color: transparent;
            color: $text-primary;
  
            padding: 0 0.25rem 0 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}