@import "../../../global.scss";
.charactersheet-section {
  >.charactersheet-skills-inner {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    >.charactersheet-skills-section {
      display: flex;
      flex-direction: column;
      width: calc(33% - 1rem);

      >.charactersheet-skill-item {
        display: flex;

        >.charactersheet-skills-speciality {
          flex: 1;
          height: 1.2em;

          >input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 0;
            outline: none;
            border-bottom: 1px dotted $text-primary;
            background-color: transparent;
            color: $text-primary;

            padding: 0 0.25rem 0 0.25rem;
            font-size: 0.75rem;
          }
        }
      }

      >.charactersheet-skills-item {
        display: flex;

        >h3 {
          margin: 0;
          text-align: center;
          width: 100%;
        }

        >.charactersheet-skills-item-info {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        >.charactersheet-skills-item-score {
          text-align: center;
        }
      }
    }

    >.charactersheet-skills-divider {
      position: relative;
      bottom: 0;
      top: 0;
      width: 1px;

      >.charactersheet-skills-divider-inner {
        position: absolute;
        height: calc(100% - 25px);
        width: 100%;
        bottom: 0;
        background-color: $text-primary;
      }
    }
  }
}