@font-face {
  font-family: caslonAntique;
  src: url('./assets/fonts/CaslonAntique.ttf');
}

@font-face {
  font-family: caslonAntique;
  src: url('./assets/fonts/CaslonAntique-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: caslonAntique;
  src: url('./assets/fonts/CaslonAntique-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: caslonAntique;
  src: url('./assets/fonts/CaslonAntique-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: goudyOldStyle;
  src: url('./assets/fonts/Goudy.ttf');
}

@font-face {
  font-family: goudyOldStyle;
  src: url('./assets/fonts/Goudy-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: goudyOldStyle;
  src: url('./assets/fonts/Goudy-Italic.ttf');
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-family: caslonAntique;
}

html {
  width: 100%;
  height: 100%;

  > body {
    margin: 0;
    width: 100%;
    height: 100%;

    > #root {
      width: 100%;
      height: 100%;
    }
  }

  font-size: 24px;
  h1 {
    font-size: 2em;
    font-family: goudyOldStyle;
  }
  h2 {
    font-size: 1.5em;
    font-family: goudyOldStyle;
    font-weight: normal;
  }
  h3 {
    font-size: 1.3em;
    font-family: goudyOldStyle;
    font-weight: normal;
  }
  h4 {
    font-size: 1em;
    font-family: goudyOldStyle;
    font-weight: normal;
  }
  h5 {
    font-size: 0.8em;
    font-family: goudyOldStyle;
  }
  h6 {
    font-size: 0.7em;
    font-family: goudyOldStyle;
  }
}