.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    > .login-panel {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        gap: 1rem;
    
        padding: 2rem;
        width: 600px;
        
        border-radius: 0.5rem;
        background: #1f1f1f;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
        > .input-item {
            position: relative;
            margin: 0 auto;
            width: 100%;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            > h1 {
                margin: 0;
                text-align: center;
                font-family: goudyOldStyle;
                font-weight: bold;
                font-size: 1.5em;
            }
            > p {
                margin: 0;
            }
            > .subtitle {
                color: rgba(255, 255, 255, 0.9);
            }
            > input {
                width: 100%;
                padding: 0.3rem;

                font-size: 0.875rem;
                line-height: 1rem;

                border: none;
                outline: none;
                background-color: transparent;
                border-bottom: 1px solid grey;
                color: white;
            }
            > button {
                width: 100%;
                height: 2.5rem;
                
                border: none;
                border-radius: 0.5rem;
                background-color: #aa2e25;
                font-size: 1rem;
                color: white;
                cursor: pointer;
            }
            .forgot-link {
                margin-top: 0.3rem;
                text-align: right;
                > a {
                    color: rgba(255, 255, 255, 0.9);
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
            .register-link {
                margin-top: 0.3rem;
                text-align: center;
                > a {
                    color: rgba(255, 255, 255, 0.9);
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
        > .loading-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}